<div class="container">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <h2 class="form-signin-heading">Please login</h2>
  <%= form_tag do %>
    <fieldset>
	<%= text_field_tag 'username', params[:username], placeholder: 'Username', class: "form-control", autofocus: :true %>
	<%= password_field_tag 'password', params[:password], placeholder: 'Password', class: "form-control" %>
        <%= button_tag 'Login', class: "btn btn-lg btn-primary btn-block" %>
    </fieldset>
  <% end %>
</div> <!-- /container -->
