<%
=begin
%>

Copyright (C) 2020 Shannon M. Hauck, http://www.smhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Scheduled</th>
      <th>Owner</th>
      <th>Subject</th>
      <th>Product</th>
      <th>Project</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.scheduled %></td>
        <td><% if meeting.owner_id %><%= link_to meeting.owner.username, meeting.owner %><% end %></td>
        <td><%= link_to meeting.subject, meeting %></td>
        <td><% if meeting.product_id %><%= link_to meeting.product.title, meeting.product %><% end %></td>
        <td><% if meeting.project_id %><%= link_to meeting.project.title, meeting.project %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
