<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><%= f.label :title %>: <%= f.text_field :title %></div>

  <div class="field"><%= f.label :description %>: <%= f.text_area :description %></div>

  <div class="field"><%= f.label :type %> <%= collection_select(:issue, :issue_type_id, IssueType.all, :id, :title) %></div>

  <div class="field"><%= f.label :product_id %> <%= collection_select(:issue, :product_id, Product.all, :id, :title, include_blank: true) %></div>

  <div class="field"><%= f.label :submitter_email %>: <%= f.text_field :submitter_email %></div>

  <div class="field"><%= f.label :submitter_full_name %>: <%= f.text_field :submitter_full_name %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
