<h1>Issues</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Product</th>
      <th>Requestor</th>
      <th>Issue status type</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.description %></td>
	<td class="<%= issue.type.code %>"><%= issue.type.title %></td>
        <td><% if issue.product_id %><%= issue.product.title %><% end %></td>
        <td><%= issue.requestor_id %></td>
	<td class="<%= issue.status.code %>"><%= issue.status.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
