<%
=begin
%>

Copyright (C) 2018 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<h1>Issues</h1>
<p>Current Time: <%= Time.now.to_formatted_s(:long) %>
<table class="table tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Product</th>
      <th>Reported To Vendor At</th>
      <th>Vendor Response Due</th>
      <th>Vendor Workaround Due</th>
      <th>Vendor Solution Due</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.description %></td>
        <td><% if issue.product_id %><%= issue.product.title %><% end %></td>
	<td><% if issue.reported_to_vendor_at %><%= issue.reported_to_vendor_at.to_formatted_s(:long) %><% end %></td>
        <td><% if issue.vendor_response_due_at %><%= issue.vendor_response_due_at.to_formatted_s(:long) %><% end %></td>
	<td><% if issue.vendor_workaround_due_at %><%= issue.vendor_workaround_due_at.to_formatted_s(:long) %><% end %></td>
	<td><% if issue.vendor_solution_due_at %><%= issue.vendor_solution_due_at.to_formatted_s(:long) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
