<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<h1>Listing tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Description</th>
      <th>Product</th>
      <th>Project</th>
      <th>Sprint</th>
      <th>Story</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
	<td class="<%= task.status.code %>"><%= task.status.title %></td>
	<td>
        <% task.users.each do |user| %>
        <%= user.username %>
        <% end %>

        </td>
        <td><%= task.description %></td>
        <td><% if task.product_id %><%= link_to task.product.title, task.product %><% end %></td>
	<td><% if task.sprint_id %><%= link_to "#{task.sprint.start_date} - #{task.sprint.end_date}", task.sprint %><% end %></td>
        <td><% if task.story_id %><%= link_to task.story.title, task.story %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
