<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<h1><%= @task.title %> <%= link_to '(Edit)', edit_task_path(@task) %></h1>
<p>Status: <%= @task.status.title %></p>

<p>
<% if @task.story_id %><strong>Story:</strong> <%= link_to @task.story.title, @task.story %><% end %>
<% if @task.sprint_id %><strong>Sprint:</strong> <%= link_to "#{@task.sprint.start_date} - #{@task.sprint.end_date}", @task.sprint %><% end %>
<% if @task.project_id %><strong>Project:</strong> <%= link_to @task.project.title, @task.project %><% end %>
<% if @task.product_id %><strong>Product:</strong> <%= link_to @task.product.title, @task.product %><% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
