<%
=begin
%>

Copyright (C) 2020 Shannon M. Hauck, http://www.smhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<table class="table">
	<tr><th>Task Title</th><td><%= @task.title %> <% if logged_in? %><%= link_to '(Edit)', edit_task_path(@task) %> <%= link_to '(Delete)', task_path(@task), method: :delete, data: { confirm: 'Really delete Task?' } %><% end %></td></tr>
  <% if @task.task_status_type_id %><tr><th>Status</th><td class="<%= @task.status.code %>"><%= @task.status.title %></td></tr><% end %>
	  <tr><th>Last Updated</th><td><%= @task.updated_at.to_formatted_s(:db) %></td></tr>
<tr><th>Sched start date:</th><td><%= @task.sched_start_date %></td></tr>

<tr><th>Actual start date:</th><td><%= @task.actual_start_date %></td></tr>

<tr><th>Sched completion date:</th><td><%= @task.sched_completion_date %></td></tr>

<tr><th>Actual completion date:</th><td><%= @task.actual_completion_date %></td></tr>
  <tr><th>Estimated Hours</th><td><%= number_with_precision(@task.estimated_hours, strip_insignificant_zeros: true) %></td></tr>
  <% @time = 0 %>
  <% @time = @task.task_comments.sum(:hours) %>
  <tr><th>Actual Hours</th><td><%= number_with_precision(@time, strip_insignificant_zeros: true) %></td></tr>
  
  <tr>
    <th>Owners</th>
    <td>
  <%= render 'add_user' %>
<% @task.task_assignments.each do |ta| %>
	<%= link_to ta.user.username, ta.user -%> <% if logged_in? %><%= link_to '(Remove)', task_assignment_path(ta.id), method: :delete, data: { confirm: 'Are you sure?' } %><% end %><br />
<% end %>
</td>
</tr>

<tr><th>Product</th><td><% if @task.product_id %><%= link_to @task.product.title, @task.product %><% end %></td></tr>
<tr><th>Project</th><td><% if @task.project_id %><%= link_to @task.project.title, @task.project %><% end %></td></tr>
<tr><th>Story</th><td><% if @task.story_id %><%= link_to @task.story.title, @task.story %><% end %></td></tr>


<% if @task.sprint_id %><tr><th>Sprint</th><td><% if @task.story.sprint_id %><%= link_to "#{@task.story.sprint.start_date} - #{@task.story.sprint.end_date}", @task.story.sprint %><% end %></td></tr><% end %>




<tr><th>Description</th><td><%= simple_format(@task.description) %></td></tr>
<tr><th>Notes</th><td>
	<% @task.notes.each do |note| %>
		<%= link_to note.title, note -%><br />
	<% end %>
</td></tr>
</table>


<h2>Comments <% if logged_in? %><%= link_to '(Add)', controller: "task_comments", action: "new",  task: @task %><% end %></h2>
<table class="table">
	<thead>
		<tr><th>User</th><th>Date</th><th>Hours</th><th>Comment</th></tr>
	</thead>
	<tbody>
      <% @task.task_comments.order(date_of_work: :desc).each do |tc| %>
  <tr>
    <td><%= link_to tc.user.username, tc.user %></td>
	 <td><%= tc.date_of_work %></td>
	    <td><%= tc.hours %></td>
	<td><%= simple_format(tc.comment) %></td>
  </tr>
<% end %>
</tbody>
</table>
