<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<h1>TASK: <%= @task.title %> <%= link_to '(Edit)', edit_task_path(@task) %></h1>
<table class="table">
	<tr><th>Status</th><td class="<%= @task.status.code %>"><%= @task.status.title %></td></tr>

<tr>
	<th>Owners</th>
	<td>
<% @task.task_assignments.each do |ta| %>
	<%= ta.user.username -%> <%= link_to '(Remove)', task_assignment_path(ta.id), method: :delete, data: { confirm: 'Are you sure?' } %><br />
<% end %>
  <%= render 'add_user' %>
</td>
</tr>

<tr><th>Story</th><td><% if @task.story_id %><%= link_to @task.story.title, @task.story %><% end %></td></tr>


<tr><th>Sprint</th><td><% if @task.story.sprint_id %><%= link_to "#{@task.story.sprint.start_date} - #{@task.story.sprint.end_date}", @task.story.sprint %><% end %></td></tr>


<tr><th>Product</th><td><% if @task.story.product_id %><%= link_to @task.story.product.title, @task.story.product %><% end %></td></tr>


<tr><th>Description</th><td><%= simple_format(@task.description) %></td></tr>
</table>
