<%= form_for(@sla) do |f| %>
  <% if @sla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sla.errors.count, "error") %> prohibited this sla from being saved:</h2>

      <ul>
      <% @sla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :response_due_at %><br>
    <%= f.text_field :response_due_at %>
  </div>
  <div class="field">
    <%= f.label :workaround_due_at %><br>
    <%= f.text_field :workaround_due_at %>
  </div>
  <div class="field">
    <%= f.label :solution_due_at %><br>
    <%= f.text_field :solution_due_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
