<%
=begin
%>

Copyright (C) 2018 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<h1>Service Level Agreements</h1>

<table class="table tablesorter">
  <thead>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Description</th>
      <th>Response due at</th>
      <th>Workaround due at</th>
      <th>Solution due at</th>
    </tr>
  </thead>

  <tbody>
    <% @slas.each do |sla| %>
      <tr>
        <td><%= link_to sla.product.title, sla.product %></td>
        <td><%= link_to sla.name, sla %></td>
        <td><%= sla.description %></td>
        <td><%= sla.response_due_at %></td>
        <td><%= sla.workaround_due_at %></td>
        <td><%= sla.solution_due_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sla', new_sla_path %>
