<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sla.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sla.description %>
</p>

<p>
  <strong>Product:</strong>
  <% if @sla.product_id %><%= link_to @sla.product.title, @sla.product %><% end %>
</p>

<p>
  <strong>Response due at:</strong>
  <%= @sla.response_due_at %>
</p>

<p>
  <strong>Workaround due at:</strong>
  <%= @sla.workaround_due_at %>
</p>

<p>
  <strong>Solution due at:</strong>
  <%= @sla.solution_due_at %>
</p>

<%= link_to 'Edit', edit_sla_path(@sla) %> |
<%= link_to 'Back', slas_path %>
