<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<%= form_for([@blog, @blog_post]) do |f| %>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, { size: 60 } %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, { cols: 60, rows: 10 } %>
  </div>
  <div class="field">
    <%= f.label :publish_date %><br>
    <%= f.date_field :publish_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
