<h1>Listing blog_posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Publish date</th>
      <th>Blog</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= link_to blog_post.title, blog_post %></td>
        <td><%= blog_post.body %></td>
        <td><%= blog_post.publish_date %></td>
        <td><%= blog_post.blog %></td>
	<td><%= link_to blog_post.user.username, blog_post.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
