<%
=begin
%>

Copyright (C) 2020 Shannon M. Hauck, http://www.smhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<h1>(DEVEL) All Blog Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Publish date</th>
      <th>Blog</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= link_to blog_post.title, blog_post %></td>
        <td><%= blog_post.body %></td>
        <td><%= blog_post.publish_date %></td>
        <td><%= link_to blog_post.blog.title, blog_post.blog %></td>
	<td><%= link_to blog_post.user.username, blog_post.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
