<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog_post.body %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @blog_post.publish_date %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @blog_post.blog %>
</p>

<%# FIXME: user_id should be required %>
<% if @blog_post.user_id %>
<p>
  <strong>User:</strong>
  <%= @blog_post.user.username %>
</p>
<% end %>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
