<h1>Task Comments</h1>

<table class="table tablesorter">
  <thead>
    <tr>
      <th>Hours</th>
      <th>Date of work</th>
      <th>Task</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_comments.each do |task_comment| %>
      <tr>
        <td><%= task_comment.hours %></td>
        <td><%= task_comment.date_of_work %></td>
        <td><%= link_to task_comment.task.title, task_comment.task %></td>
        <td><%= link_to task_comment.user.username, task_comment.user %></td>
        <td><%= link_to 'Show', task_comment %></td>
        <td><%= link_to 'Edit', edit_task_comment_path(task_comment) %></td>
        <td><%= link_to 'Destroy', task_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task hour', new_task_comment_path %>
