<%
=begin
%>

Copyright (C) 2015 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Points</th>
      <th>Est. Hours</th>
      <th>Actual Hours</th>
      <th>Status</th>
      <th>Tasks</th>
      <th>Owner</th>
      <th>Requestor</th>
      <th>Product</th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to story.title, story %></td>
        <td><%= number_with_precision(story.points, strip_insignificant_zeros: true) %></td>
	<td><%= number_with_precision(story.estimated_hours, strip_insignificant_zeros: true) %></td>
	<% @time = 0 %>
	<% story.tasks.each do |task| %>
		<% @time = @time + task.task_comments.sum(:hours) %>
	<% end %>
		<td><%= number_with_precision(@time, strip_insignificant_zeros: true) %></td>
	<td class="<%= story.status.code %>"><%= story.status.title %></td>
	<td><%= story.tasks.count %></td>
        <td>
        <% story.users.each do |user| %>
          <%= link_to user.username, user %><br />
        <% end %>
        </td>
	<td><%= link_to story.requestor.username, story.requestor %></td>
	<td><% if story.product_id %><%= link_to story.product.title, story.product %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
