<%
=begin
%>

Copyright (C) 2020 Shannon M. Hauck, http://www.smhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<h1>Sprints</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sprint</th>
      <th>Status</th>
      <th>Stories</th>
      <th>Points</th>
      <th>Est. Hours</th>
      <th>Actual Hours</th>
    </tr>
  </thead>

  <tbody>
    <% @sprints.each do |sprint| %>
      <tr>
	      <td><%= link_to "#{sprint.start_date} - #{sprint.end_date}", sprint %></td>
        <td><%= sprint.status.title %></td>
	<td><%= sprint.stories.count %></td>
	<td><%= number_with_precision(sprint.stories.sum(:points), strip_insignificant_zeros: true) %></td>
	<td><%= number_with_precision(sprint.stories.sum(:estimated_hours), strip_insignificant_zeros: true) %></td>
        <% @time = 0 %>
        <% sprint.stories.each do |story| %>
        <% story.tasks.each do |task| %>
          <% @time = @time + task.task_comments.sum(:hours) %>
        <% end %>
        <% end %>
	<td><%= number_with_precision(@time, strip_insignificant_zeros: true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprint', new_sprint_path %>
