<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<h1>Sprint: <%= @sprint.start_date %> - <%= @sprint.end_date %> <%= link_to '(Edit)', edit_sprint_path(@sprint) %></h1>

<p>
  <strong>Status:</strong>
  <%= @sprint.status.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sprint.notes %>
</p>

<% if @sprint.stories %>
  <h2>Stories</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Story</th>
        <th>Est. Hours</th>
        <th>Actual Hours</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Requestor</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <% @sprint.stories.each do |story| %>
      <tr>
          <td><%= link_to story.title, story %></td>
          <td><%= story.estimated_hours %></td>
          <td>Coming Soon</td>
	  <td class="<%= story.status.code %>"><%= story.status.title %></td>
	  <td>
            <% story.users.each do |user| %>
              <%= link_to user.username, user %><br />
            <% end %>
          </td>
	  <td><%= link_to story.requestor.username, story.requestor %></td>
          <td><%= link_to story.product.title, story.product %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Stories for Sprint</h2>
<% end %>
