<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<h1>Sprint: <%= @sprint.start_date %> - <%= @sprint.end_date %> <%= link_to '(Edit)', edit_sprint_path(@sprint) %></h1>

<p>
  <strong>Status:</strong>
  <%= @sprint.status.title %>
  </p>

  <p>
  <strong>Estimated Hours:</strong>
        <% @time = 0 %>
	<%= number_with_precision(@sprint.stories.sum(:estimated_hours), strip_insignificant_zeros: true) %>
	</p>

  <p>
  <strong>Actual Hours:</strong>
        <% @time = 0 %>
        <% @sprint.stories.each do |story| %>
        <% story.tasks.each do |task| %>
          <% @time = @time + task.task_comments.sum(:hours) %>
        <% end %>
        <% end %>
	<%= number_with_precision(@time, strip_insignificant_zeros: true) %>
	</p>

<p>
  <strong>Notes:</strong>
  <%= @sprint.notes %>
</p>

<% if @sprint.stories %>
  <h2>Stories</h2>
  <% @stories = @sprint.stories %>
  <%= render 'stories_listing' %>
<% else %>
  <h2>No Stories for Sprint</h2>
<% end %>
