<%
=begin
%>

Copyright (C) 2008 - 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<h1>Listing wiki_pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Version</th>
      <th>Product</th>
      <th>Project</th>
      <th>Story</th>
      <th>Task</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wiki_pages.each do |wiki_page| %>
      <tr>
        <td><%= wiki_page.title %></td>
        <td><%= wiki_page.body %></td>
        <td><%= wiki_page.version %></td>
        <td><%= wiki_page.product %></td>
        <td><%= wiki_page.project %></td>
        <td><%= wiki_page.story %></td>
        <td><%= wiki_page.sask %></td>
        <td><%= wiki_page.user %></td>
        <td><%= link_to 'Show', wiki_page %></td>
        <td><%= link_to 'Edit', edit_wiki_page_path(wiki_page) %></td>
        <td><%= link_to 'Destroy', wiki_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiki page', new_wiki_page_path %>
