<%
=begin
%>

Copyright (C) 2008 - 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<h1>Listing wiki_pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Version</th>
      <th>Product</th>
      <th>Story</th>
      <th>Task</th>
    </tr>
  </thead>

  <tbody>
    <% @wiki_pages.each do |wiki_page| %>
      <tr>
        <td><%= link_to wiki_page.title, wiki_page %></td>
        <td><%= wiki_page.version %></td>
        <td><% if wiki_page.product_id %><%= wiki_page.product.title %><% end %></td>
        <td><% if wiki_page.story_id %><%= wiki_page.story.title %><% end %></td>
        <td><% if wiki_page.task_id %><%= wiki_page.task.title %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiki page', new_wiki_page_path %>
