<p id="notice"><%= notice %></p>

<h2><%= @wiki_page.title %> <%= link_to '(Edit)', edit_wiki_page_path(@wiki_page) %></h2>

<%= simple_format(@wiki_page.body) %>

<h3>Related Items</h3>
<% if @wiki_page.Product %>
	<p>
  <strong>Product:</strong>
  <%= @wiki_page.Product %>
  </p>
<% end %>

<% if @wiki_page.Project %>
  <p>
    <strong>Project:</strong>
    <%= @wiki_page.Project %>
  </p>
<% end %>

<% if @wiki_page.Story %>
  <p>
    <strong>Story:</strong>
    <%= @wiki_page.Story %>
  </p>
<% end %>

<% if @wiki_page.Task %>
  <p>
    <strong>Task:</strong>
    <%= @wiki_page.Task %>
  </p>
<% end %>

<% if @wiki_page.User %>
  <p>
    <strong>User:</strong>
    <%= @wiki_page.User %>
  </p>
<% end %>

