<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :contact_first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, id: :contact_middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :contact_last_name %>
  </div>

  <div class="field">
    <%= form.label :prefix %>
    <%= form.text_field :prefix, id: :contact_prefix %>
  </div>

  <div class="field">
    <%= form.label :suffix %>
    <%= form.text_field :suffix, id: :contact_suffix %>
  </div>

  <div class="field">
    <%= form.label :sex_id %>
    <%= form.text_field :sex_id, id: :contact_sex_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
