<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Suffix</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.prefix %></td>
        <td><%= link_to contact.first_name, contact %></td>
        <td><%= link_to contact.middle_name, contact %></td>
        <td><%= link_to contact.last_name, contact %></td>
        <td><%= contact.suffix %></td>
        <td><%= contact.sex.name %></td>
        <td><%= link_to image_tag("pencil-2x.png"), edit_contact_path(contact) %></td>
        <td><%! link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
