<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<p>
  <%= @contact.prefix %> <%= @contact.first_name %> <%= @contact.middle_name %> <%= @contact.last_name %> <%= @contact.suffix %>
</p>


<p>
  <strong>Sex:</strong>
  <%= @contact.sex.name %>
</p>

<p>
Email Addresses:<br>
<% @contact.contact_emails.each do |email| %>
        <%= email.address %> (<%= email.email_type.name %>)<br>
<% end %>
</p>


<%= form_for(@contact_email) do |form| %>
  <div class="field">
    <%= form.text_field :address, id: :contact_email_address, placeholder: 'Additional Address' %>

    <%= form.label :email_type_id %>
    <%= collection_select(:contact_email, :email_type_id, EmailType.all, :id, :name) %>
    <%= form.submit %>
  </div>

    <%= form.hidden_field :contact_id, value: @contact.id %>

<% end %>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
