<%
=begin
%>

Copyright (C) 2016 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>

<script type="text/javascript">
  $(function() {
    $(".ui-datepicker").datepicker({dateFormat: "yy-mm-dd"});
  });
</script>

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr><th><%= f.label :title %></th><td><%= f.text_field :title, size: 60, autofocus: :true %></td></tr>
    <tr><th><%= f.label :short_title %></th><td><%= f.text_field :short_title, size: 60 %></td></tr>
    <tr><th><%= f.label :project_status_type_id %></th><td><%= collection_select(:project, :project_status_type_id, ProjectStatusType.all, :id, :title) %></td></tr>
    <tr><th><%= f.label :product_id %></th><td><%= collection_select(:project, :product_id, Product.all.order(:title), :id, :title, include_blank: '') %></td></tr>
    <tr><th><%= f.label :owner_id %></th><td><%= collection_select(:project, :owner_id, User.all.order(:username), :id, :username) %></td></tr>
    <tr><th><%= f.label :description %></th><td><%= f.text_area :description %></td></tr>
    <tr><th><%= f.label :sched_start_date %></th><td><%= f.date_field :sched_start_date, class: "ui-datepicker" %></td></tr>
    <tr><th><%= f.label :actual_start_date %></th><td><%= f.date_field :actual_start_date, class: "ui-datepicker" %></td></tr>
    <tr><th><%= f.label :sched_completion_date %></th><td><%= f.date_field :sched_completion_date, class: "ui-datepicker" %></td></tr>
    <tr><th><%= f.label :actual_completion_date %></th><td><%= f.date_field :actual_completion_date, class: "ui-datepicker" %></td></tr>
    <tr><td></td><td><%= f.submit %></td></tr>
  </table>
<% end %>
