<%
=begin
%>

Copyright (C) 2015 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

<table class="table tablesorter">
	<tbody>
		<tr><th>Project Title:</th><td><%= @project.title %> <%= link_to '(Edit)', edit_project_path(@project) %></td></tr>
		<tr><th>Project Short Title:</th><td><%= @project.short_title %></td></tr>
		<tr><th>Project Status:</th><td><%= @project.status.title %></td></tr>
		<tr><th>Project Owner:</th><td><%= link_to @project.owner.username, @project.owner %></td></tr>

<tr><th>Product:</td><td><% if @project.product_id %><%= link_to @project.product.title, @project.product %><% end %></td></tr>

<tr><th>Description:</th><td><%= simple_format(@project.description, sanitize: true) %></td></tr>

<tr><th>Sched start date:</th><td><%= @project.sched_start_date %></td></tr>

<tr><th>Actual start date:</th><td><%= @project.actual_start_date %></td></tr>

<tr><th>Sched completion date:</th><td><%= @project.sched_completion_date %></td></tr>

<tr><th>Actual completion date:</th><td><%= @project.actual_completion_date %></td></tr>

<tr><th>Members</th>
<td>
<% @project.project_assignments.each do |pa| %>
	<%= link_to pa.user.username, pa.user %> <%= link_to '(Remove)', project_assignment_path(pa.id), method: :delete, data: { confirm: 'Are you sure?' } %><br />
<% end %>
  <%= render 'add_user' %>
</td>
</tr>

</tbody>
</table>


<% if @project.tasks %>
  <h2>Tasks <%= link_to '(Add)', controller: "tasks", action: "new",  project: @project %></h2>
  <table class="table">
    <thead>
	    <!-- <tr><th>Title</th><th>Status</th><th>Owner</th><th>Estimated Time</th><th>Actual Time</th></tr> -->
	    <tr><th>Title</th><th>Status</th><th>Owner</th><th>SchedStart</th><th>ActualStart</th><th>SchedCompl</th><th>ActualCompl</th></tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
	  <td class="<%= task.status.code %>"><%= task.status.title %></td>
          <td>
            <% task.task_assignments.each do |ta| %>
              <%= link_to ta.user.username, ta.user %> <%= link_to '(Remove)', task_assignment_path(ta.id), method: :delete, data: { confirm: 'Are you sure?' } %><br />
            <% end %>
    </td>
    <!--
           <td><%= number_with_precision(task.estimated_hours, strip_insignificant_zeros: true) %></td>
	   <td><%= number_with_precision(task.task_comments.sum(:hours), strip_insignificant_zeros: true) %></td>
	   -->
          <td><%= task.sched_start_date %></td>
          <td><%= task.actual_start_date %></td>
          <td><%= task.sched_completion_date %></td>
          <td><%= task.actual_completion_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Tasks for this Story</h2>
  <%= link_to 'Add Task', controller: "tasks", action: "new",  project: @project %><br />
<% end %>


<% if @project.notes %>
  <h2>Notes <%= link_to '(Add)', controller: "notes", action: "new",  project: @project %></h2>
  <table class="table">
    <thead>
      <tr><th>Title</th><th>Owner</th><th>Created At</th><th>Modified At</th></tr>
    </thead>
    <tbody>
      <% @project.notes.each do |note| %>
        <tr>
          <td><%= link_to note.title, note %></td>
          <td><%= link_to note.creator.username, note.creator %></td>
          <td><%= note.created_at %></td>
          <td><%= note.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Tasks for this Story</h2>
  <%= link_to 'Add Task', controller: "notes", action: "new",  project: @project %><br />
<% end %>


<% if @project.meetings %>
  <h2>Meetings <%= link_to '(Add)', controller: "meetings", action: "new",  project: @project %></h2>
  <table class="table">
    <thead>
      <tr><th>Title</th><th>Organizer</th><th>Scheduled For</th></tr>
    </thead>
    <tbody>
      <% @project.meetings.each do |meeting| %>
        <tr>
          <td><%= link_to meeting.subject, meeting %></td>
          <td><%= link_to meeting.owner.username, meeting.owner %></td>
          <td><%= meeting.scheduled %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Tasks for this Story</h2>
  <%= link_to 'Add Task', controller: "meetings", action: "new",  project: @project %><br />
<% end %>
