<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :story_status_type_id %></br >
	  <%= collection_select(:story, :story_status_type_id, StoryStatusType.all, :id, :title) %>
  </div>
  <div class="field">
	  <%= f.label :sprint_id %></br >
	  <%= collection_select(:story, :sprint_id, Sprint.all, :id, :start_date, include_blank: true) %>
  </div>
  <div class="field">
	  <%= f.label :product_id %></br >
	  <%= collection_select(:story, :product_id, Product.all, :id, :title) %>
  </div>
  <div class="field">
	  <%= f.label :requestor_id %></br >
	  <%= collection_select(:story, :requestor_id, User.all, :id, :username) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, { size: 60 } %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, {rows: 10, cols: 60} %>
  </div>
  <div class="field">
    <%= f.label :completion_notes %><br>
    <%= f.text_area :completion_notes, {rows: 10, cols: 60} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
