<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>


<h1>STORY: <%= @story.title %> <%= link_to '(Edit)', edit_story_path(@story) %></h1>

<p>Status: <%= @story.status.title %></p>

<p>Requestor: <%= link_to @story.requestor.username, @story.requestor %></p>

<p>
<% if @story.sprint_id %><strong>Sprint:</strong> <%= link_to "#{@story.sprint.start_date} - #{@story.sprint.end_date}", @story.sprint %><% end %>
<% if @story.product_id %><strong>Product:</strong> <%= link_to @story.product.title, @story.product %><% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@story.description) %>
</p>

<% if @story.tasks %>
	<h2>Tasks <%= link_to '(Add)', controller: "tasks", action: "new",  story: @story %></h2>
	<table class="table">
		<thead>
			<tr><th>Title</th><th>Status</th><th>Owner</th><th>Estimated Time</th><th>Actual Time</th></tr>
		</thead>
		<tbody>
	<% @story.tasks.each do |task| %>
		<tr><td><%= link_to task.title, task %></td><td><%= task.status.title %></td><td>Coming soon</td><td>Coming soon</td><td>Coming soon</td></tr>
	<% end %>
</tbody>
</table>
<% else %>
	<h2>No Tasks for this Story</h2>
	<%= link_to 'Add Task', controller: "tasks", action: "new",  story: @story %><br />
<% end %>
