<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @story.title %> <%= link_to '(Edit)', edit_story_path(@story) %>
</p>

<p>
  <strong>(DEBUG) Alive:</strong>
  <%= @story.alive %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<% if @story.product_id %>
<p>
  <strong>Product:</strong>
  <%= link_to @story.product.title, @story.product %>
</p>
<% end %>

<% if @story.project_id %>
<p>
  <strong>Project:</strong>
  <%= link_to @story.project.title, @story.project %>
</p>
<% end %>

<% if @story.sprint_id %>
<p>
  <strong>Sprint:</strong>
  <%= link_to "@story.sprint.start_date - @story.sprint.end_date", @story.sprint %>
</p>
<% end %>

<%= link_to 'Back', stories_path %>
