<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>

<p id="notice"><%= notice %></p>

<h1>STORY: <%= @story.title %> <%= link_to '(Edit)', edit_story_path(@story) %> <%= link_to '(Delete)', story_path(@story), method: :delete, data: { confirm: 'Really delete Story?' } %></h1>

<table class="table">

  <tr><th>Status</th><td class="<%= @story.status.code %>"><%= @story.status.title %></td></tr>

  <tr><th>Requestor</th><td><%= link_to @story.requestor.username, @story.requestor %></td></tr>

  <tr>
    <th>Owners</th>
    <td>
      <% @story.story_assignments.each do |sa| %>
        <%= sa.user.username -%> <%= link_to '(Remove)', story_assignment_path(sa.id), method: :delete, data: { confirm: 'Are you sure?' } %><br />
      <% end %>
      <%= render 'add_user' %>
    </td>
  </tr>

  <tr><th>Points</th><td><%= number_with_precision(@story.points, strip_insignificant_zeros: true) %></td></tr>
  <tr><th>Estimated Hours</th><td><%= number_with_precision(@story.estimated_hours, strip_insignificant_zeros: true) %></td></tr>
  <tr><th>Sprint</th><td><% if @story.sprint_id %><%= link_to "#{@story.sprint.start_date} - #{@story.sprint.end_date}", @story.sprint %><% end %></td></tr>

  <tr><th>Product</th><td><% if @story.product_id %><%= link_to @story.product.title, @story.product %><% end %></td></tr>

  <tr><th>Description</th><td><%= simple_format(@story.description) %></td></tr>

  <tr><th>Completion Notes</th><td><%= simple_format(@story.completion_notes) %></td></tr>

</table>

<% if @story.tasks %>
  <h2>Tasks <%= link_to '(Add)', controller: "tasks", action: "new",  story: @story %></h2>
  <table class="table">
    <thead>
      <tr><th>Title</th><th>Status</th><th>Owner</th><th>Estimated Time</th><th>Actual Time</th></tr>
    </thead>
    <tbody>
      <% @story.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
	  <td class="<%= task.status.code %>"><%= task.status.title %></td>
          <td>
            <% task.task_assignments.each do |ta| %>
              <%= ta.user.username -%> <%= link_to '(Remove)', task_assignment_path(ta.id), method: :delete, data: { confirm: 'Are you sure?' } %><br />
            <% end %>
           </td>
           <td><%= number_with_precision(task.estimated_hours, strip_insignificant_zeros: true) %></td>
           <td><%= number_with_precision(task.task_comments.sum(:hours), strip_insignificant_zeros: true) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Tasks for this Story</h2>
  <%= link_to 'Add Task', controller: "tasks", action: "new",  story: @story %><br />
<% end %>

