<%
=begin
%>

Copyright (C) 2018 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>

  
<h1><%= @wiki.title %> (<%= link_to 'Edit', edit_wiki_path(@wiki) %>)</h1> 

<p><%= link_to 'Add Page', new_wiki_wiki_page_path(@wiki) %></p>

<p class="wiki_description"><%= @wiki.description %></p>

<% if @wiki.product %>
<p>Related Product: <%= link_to @wiki.product.title, product_path(@wiki.product) %></p>
<% end %>

<% @wiki.pages.each do |page| %>
	<p><%= link_to page.title.gsub(/_/, ' '), wiki_wiki_page_path(@wiki, page.title) %></p>
<% end %>
