<%= form_for(@task_status_type) do |f| %>
  <% if @task_status_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_status_type.errors.count, "error") %> prohibited this task_status_type from being saved:</h2>

      <ul>
      <% @task_status_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :alive %><br>
    <%= f.check_box :alive %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
