<%= form_with(model: contact_email, local: true) do |form| %>
  <% if contact_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_email.errors.count, "error") %> prohibited this contact_email from being saved:</h2>

      <ul>
      <% contact_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :contact_email_address %>
  </div>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.text_field :contact_id, id: :contact_email_contact_id %>
  </div>

  <div class="field">
    <%= form.label :email_type_id %>
    <%= form.text_field :email_type_id, id: :contact_email_email_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
