<%= form_for(@note_privacy_type) do |f| %>
  <% if @note_privacy_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note_privacy_type.errors.count, "error") %> prohibited this note_privacy_type from being saved:</h2>

      <ul>
      <% @note_privacy_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
