<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>


<h1><%= @product.title %> <%= link_to '(Edit)', edit_product_path(@product) %></h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% if @product.wikis %>
  <h2>Wikis</h2>
  <p>
    <% @product.wikis.each do |wiki| %>
      <%= link_to wiki.title, wiki %><br />
    <% end %>
  </p>
<% else %>
  <h2>No Wikis for Product</h2>
<% end %>

<% if @product.stories %>
	<h2>Stories</h2>
	<table class="table">
		<thead>
			<tr><th>Title</th><th>Status</th><th>Sprint</th></tr>
    <% @product.stories.each do |story| %>
	    <tr>
		    <td><%= link_to story.title, story %></td>
		    <td><%= story.status.title %></td>
		    <% if story.sprint %>
			    <td><%= story.sprint.start_date %> - <%= story.sprint.end_date %></td>
		    <% else %>
			    <td></td>
		    <% end %>
	    </tr>
    <% end %>
  </table>
<% else %>
  <h2>No Stories for Product</h2>
<% end %>
