<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<p id="notice"><%= notice %></p>


<h1><%= @product.title %> <%= link_to '(Edit)', edit_product_path(@product) %></h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% if @product.wikis.count > 0 %>
  <h2>Wikis</h2>
  <p>
    <% @product.wikis.each do |wiki| %>
      <%= link_to wiki.title, wiki %><br />
    <% end %>
  </p>
<% else %>
  <h2>No Wikis for Product</h2>
<% end %>

<% if @product.stories.count > 0 %>
  <h2>Stories</h2>
  <table class="table">
    <thead>
	    <tr><th>Story</th><th>Est. Hours</th><th>Actual Hours</th><th>Status</th><th>Num Tasks</th><th>Assigned To</th><th>Requestor</th><th>Sprint</th></tr>
    </thead>
    <tbody>
      <% @product.stories.each do |story| %>
        <tr>
          <td><%= link_to story.title, story %></td>
          <td><%= story.estimated_hours %></td>
          <td>Coming Soon</td>
          <td class="<%= story.status.code %>"><%= story.status.title %></td>
          <td><%= story.tasks.count %></td>
          <td>
            <% story.users.each do |user| %>
              <%= link_to user.username, user %><br />
            <% end %>
          </td>
          <td><%= link_to story.requestor.username, story.requestor %></td>
          <% if story.sprint %>
            <td><%= link_to "#{story.sprint.start_date} - #{story.sprint.end_date}", story.sprint %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No Stories for Product</h2>
<% end %>
