<footer class="footer has-background-info">
  <div class="content has-text-centered">
    <p>
      <%= link_to "About", about_path %>
      : <%= link_to "FAQ", faq_path %>
      : <%= link_to "Guide", guide_path %>
      : <%= link_to "Roadmap", roadmap_path %>
      : <%= link_to "Technology", technology_path %>
      : <%= link_to "Changelog", changelog_path %>
      : <%= link_to "Terms", terms_path %>
      : <%= link_to "Privacy", privacy_path %>
      : <%= link_to "License", license_path %>
      : <%= link_to "Source Code", 'https://github.com/smhauck/ProjectUseful', target: "_blank" %> 
    </p>
    <p> 
      <span class="slogan">Project Useful</span>
      <span class="builtby"><%= link_to('https://github.com/smhauck', target: '_blank') do %>&copy; & Built by Shannon<% end %></span>
    </p>
  </div>
</footer>
