<footer class="footer has-background-info">
  <div class="content has-text-centered">
   <p> 
    <span class="slogan">Project Useful</span>
    <span class="builtby">Built by <%= link_to 'Shannon', 'https://github.com/smhauck', target: '_blank' %></span>
    </p>
    <p>
      <%= link_to "About", about_path %>
      : <%= link_to "FAQ", faq_path %>
      : <%= link_to "Guide", guide_path %>
      : <%= link_to "Roadmap", roadmap_path %>
      : <%= link_to "Technology", technology_path %>
      : <%= link_to "Changelog", changelog_path %>
      : <%= link_to "Terms", terms_path %>
      : <%= link_to "Privacy", privacy_path %>
      : <%= link_to "License", license_path %>
      : <%= link_to "Source Code", 'https://github.com/smhauck/ProjectUseful', target: "_blank" %> 
    </p>
    <p class="copyright">&copy; Shannon</p>
  </div>
</footer>
