<%
=begin
%>

Copyright (C) 2014 William B. Hauck, http://www.wbhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'project_useful.png', type: 'image/png' %>
  <%= favicon_link_tag 'project_useful.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <title>Project Useful</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
      

  <% if session[:user_id] %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <%= link_to image_tag("project_useful_50x50.png"), root_url %>
          <%= link_to "Project Useful", root_url, class: "navbar-brand" %>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", products_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New", new_product_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sprint <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", sprints_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New", new_sprint_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Story <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List Active Stories", stories_active_path %></li>
                <li><%= link_to "List Complete Stories", stories_complete_path %></li>
                <li><%= link_to "List All Stories", stories_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New", new_story_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", tasks_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New", new_task_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List All Blogs", blogs_path %></li>
                <li class="divider"></li>
                <li><%= link_to "(DEVEL) List All Blog Pages", blog_posts_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New Blog", new_blog_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New Blog Post", new_blog_post_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wiki <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List All Wikis", wikis_path %></li>
                <li class="divider"></li>
                <li><%= link_to "List All Wiki Pages", wiki_pages_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New Wiki", new_wiki_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New Wiki Page", new_wiki_page_path %></li>
              </ul>
            </li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
		  <!--
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
            <li><%= link_to "Help", wiki_path(1) %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= User.find(session[:user_id]).username %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Account Info", user_path(session[:user_id]) %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", logout_path %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <% else %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <%= link_to image_tag("project_useful_50x50.png"), root_url %>
          <%= link_to "Project Useful", root_url, class: "navbar-brand" %>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", products_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sprint <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", sprints_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Story <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List Active Stories", stories_active_path %></li>
                <li><%= link_to "List Complete Stories", stories_complete_path %></li>
                <li><%= link_to "List All Stories", stories_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", tasks_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List All Blogs", blogs_path %></li>
                <li><%= link_to "List All Blog Pages", blog_posts_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wiki <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List All Wikis", wikis_path %></li>
                <li><%= link_to "List All Wiki Pages", wiki_pages_path %></li>
              </ul>
            </li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
		  <!--
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
            <li><%= link_to "Help", wiki_path(1) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Login", login_path %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <% end %>

</div><!-- class="container" -->

<div class="container" -->
<%= yield %>
</div><!-- class="container" -->

<div class="container">
  <footer>
  <p>Project Useful <%= link_to "License", license_url %> * <%= link_to "Technology", technology_url %></p>
    <p>Follow development on the <a href="http://www.projectuseful.org/blogs/1">development blog</a> and the <a href="https://github.com/wbhauck/ProjectUseful">Project Change Log</a></p>
    <p>Powered by <%= link_to 'Project Useful', "http://www.projectuseful.org" %> &copy; 2014 <%= link_to 'William B. Hauck', "http://www.wbhauck.com" %></p>
  </footer>
</div><!-- class="container" -->


</body>
</html>
