<%
=begin
%>

Copyright (C) 2025 Shannon M. Hauck, http://www.smhauck.com

This file is part of Project Useful.

Project Useful is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Project Useful is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Project Useful.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<!DOCTYPE html>
<html data-theme="light">
<head>
    <%= favicon_link_tag 'icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'icon.png' %>



  <title>Project Useful</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

</head>
<body>

<%= render 'layouts/navbar' %>
<div class="container-fluid yield">
<%= yield %>
</div><!-- class="container" -->

<%= render 'layouts/footer' %>

</body>
</html>







